<form *ngIf="sku" name="deleteForm" (ngSubmit)="confirmDelete(sku)">
  <div class="modal-header">
    <h4 class="modal-title">Confirm delete Sku</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>Are you sure you want to delete sku ?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban" style="margin-right: 7px"></fa-icon>Cancel
    </button>

    <button type="submit" class="btn btn-danger"><fa-icon icon="times" style="margin-right: 7px"></fa-icon>Delete</button>
  </div>
</form>
