#info-block section {
  border: 1px solid #bbbaba;
  border-radius: 5px;
}

.file-marker > div {
  padding: 0 3px;
  margin-top: -0.8em;
}
.box-title {
  background: white none repeat scroll 0 0;
  display: inline-block;
  padding: 0 2px;
  margin-left: 3em;
  color: #6e6c6c;
}
.card-content {
  margin-left: 16px;
  margin-right: 16px;
}
