<form *ngIf="order" name="deleteForm" (ngSubmit)="confirmDelete(order)">
  <div class="modal-header">
    <h4 class="modal-title">Confirm {{ action }} order</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()"></button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>

    <p>Are you sure you want to {{ action }} order ?</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
    </button>
    <button type="submit" *ngIf="action === 'Approve'" class="btn btn-primary">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>{{ action }}</span>
    </button>
    <button type="submit" *ngIf="action !== 'Approve'" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span>{{ action }}</span>
    </button>
  </div>
</form>
